[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.19.5"
pytorch-lightning = "==1.1.4"
torch = "==1.7.1"
torchvision = "==0.8.2"
tqdm = "==4.56.0"
pandas = "==1.2.0"
scikit-learn = "==0.24.0"
opencv-python = "==4.5.1.48"
pillow = "==8.1.0"

[dev-packages]

[requires]
python_version = "3.9"
